html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
header {
    background: purple;
    height: 100px;
}
h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}
div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}  
button:first-child {
    align-self: flex-end;
}
  
article {
    padding: 10px;
    margin: 10px;
    background: aqua;
}
article {
    flex: 1;
}  
  article:nth-of-type(3) {
    flex: 2;
}
article {
    flex: 1 200px;
}
  
article:nth-of-type(3) {
    flex: 2 200px;
}
article {
    flex: 1 200px;
} 
article:nth-of-type(3) {
    flex: 3 200px;
    display: flex;
    flex-flow: column;
}
article:nth-of-type(3) div:first-child {
    flex: 1 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
section {
    display: flex;
    flex-direction: column;
    flex-wrap: row wrap;
}
button:first-child {
    order: 1;
  }
button:last-child {
    order: -1;
}
button {
    flex: 1 auto;
    margin: 5px;
    font-size: 18px;
    line-height: 1.5;
}
  /* Add your flexbox CSS below here */
