nav {
    background-color:rgb(26, 169, 57);
    padding: 10px;
    color: rgb(255, 255, 255);
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
    padding: 15px;
}
img {
    width: 200px;
    height: auto;
    border: 1px solid rgb(26, 169, 57);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
    color: rgb(230, 105, 255);
}
section {
    width: 600px;
    padding: 20px;
}
