nav {
    background-color:rgb(255, 255, 255);
    padding: 10px;
    color: rgb(255, 255, 255);
}
nav a{
    color: rgb(255, 0, 0);
    display: block;
    padding: 20px;
}
h1 {
    color: rgb(0, 36, 194);
    padding: 15px;
}
img {
    width: 200px;
    height: auto;
    border: 1px solid rgb(199, 0, 0);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p { padding: 0;}
section {
    width: 600px;
    padding: 25px;
}
main {
    max-width: 840px;
}
main img {
    width: 150px;
    height: auto;
}
aside {
    width: 20rem;
    margin: 20px;
    border: 3px solid rgba(rgb(0, 34, 255), rgb(210, 0, 0), rgb(0, 27, 229), 0.2);
    padding: 10px;
    background-color: whitesmoke;
    color: #810000;
}
aside img {
    width: 250px;
    height: auto;
}
footer {
    margin-top: auto;
    border-top: 1px solid#001c81;
    text-align: center;
}